In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [10]:
df = pd.read_csv('../data/OnlineRetail.csv', encoding='latin1', parse_dates=['InvoiceDate'])

In [11]:
def first_looking(df):
    print("Shape of the DataFrame:\n", df.shape,'\n')
    print("--------------------------------\n")
    print("Columns in the DataFrame:\n", df.columns.tolist(),'\n')
    print("--------------------------------\n")
    print("Data types of each column:\n", df.dtypes,'\n')
    print("--------------------------------\n")
    print("First 5 rows of the DataFrame:\n", df.head(),'\n')
    print("--------------------------------\n")
    print("Last 5 rows of the DataFrame:\n", df.tail(),'\n')
    print("--------------------------------\n")
    print("Missing values in each column:\n", df.isnull().sum(),'\n')
    print("--------------------------------\n")
    print("Descriptive statistics:\n", df.describe(),'\n')
    print("--------------------------------\n")
    print("Unique values:\n", df.nunique(),'\n')
    print("--------------------------------\n")
    for col in df.columns:
            if df[col].dtype != 'object' and df[col].dtype != 'datetime64[ns]':
                print("column name    : ", col)
                print("num_of_zeros   : ", (df[col] == 0).sum())
                print("num_of_negatives: ", (df[col] < 0).sum())
                print("median_value   : ", df[col].median(),'\n')
                print("--------------------------------\n")

In [12]:
first_looking(df)

Shape of the DataFrame:
 (541909, 8)

--------------------------------

Columns in the DataFrame:
 ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

--------------------------------

Data types of each column:
 InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

--------------------------------

First 5 rows of the DataFrame:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

--------------------------------

Last 5 rows of the DataFrame:
        InvoiceNo StockCode                      Description  Quantity  \
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID Country
541904 2011-12-09 12:50:00       0.85     12680.0  France
541905 2011-12-09 12:50:00       2.10     12680.0  France
541906 2011-12-09 12:50:00       4.15     12680.0  France
541907 2011-12-09 12:50:00       4.15     12680.0  France
541908 2011-12-09 12:50:00       4.95     12680.0  France

--------------------------------

Missing values in each column:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

--------------------------------

Descriptive statistics:
             Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303

--------------------------------

Unique values:
 InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

--------------------------------

column name    :  Quantity
num_of_zeros   :  0
num_of_negatives:  10624
median_value   :  3.0

--------------------------------

column name    :  UnitPrice
num_of_zeros   :  2515
num_of_negatives:  2
median_value   :  2.08

--------------------------------

column name    :  CustomerID
num_of_zeros   :  0
num_of_negatives:  0
median_value   :  15152.0

--------------------------------

In [13]:
df.drop_duplicates(inplace = True)
print("Shape of the DataFrame after dropping duplicates:\n", df.shape,'\n')
print("--------------------------------\n")
df.dropna(subset = ['CustomerID'], inplace = True)
print("Shape of the DataFrame after dropping rows with missing CustomerID:\n", df.shape,'\n')
print("--------------------------------\n")
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
print("Shape of the DataFrame after filtering out negative quantities and prices:\n", df.shape,'\n')

Shape of the DataFrame after dropping duplicates:
 (536641, 8)

--------------------------------

Shape of the DataFrame after dropping rows with missing CustomerID:
 (401604, 8)

--------------------------------

Shape of the DataFrame after filtering out negative quantities and prices:
 (392692, 8)

In [14]:
first_looking(df)

Shape of the DataFrame:
 (392692, 8)

--------------------------------

Columns in the DataFrame:
 ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

--------------------------------

Data types of each column:
 InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

--------------------------------

First 5 rows of the DataFrame:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

--------------------------------

Last 5 rows of the DataFrame:
        InvoiceNo StockCode                      Description  Quantity  \
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID Country
541904 2011-12-09 12:50:00       0.85     12680.0  France
541905 2011-12-09 12:50:00       2.10     12680.0  France
541906 2011-12-09 12:50:00       4.15     12680.0  France
541907 2011-12-09 12:50:00       4.15     12680.0  France
541908 2011-12-09 12:50:00       4.95     12680.0  France

--------------------------------

Missing values in each column:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

--------------------------------

Descriptive statistics:
             Quantity                    InvoiceDate      UnitPrice  \
count  392692.000000                         392692  392692.000000
mean       13.119702  2011-07-10 19:13:07.771892480       3.125914
min         1.000000            2010-12-01 08:26:00       0.001000
25%         2.000000            2011-04-07 11:12:00       1.250000
50%         6.000000            2011-07-31 12:02:00       1.950000
75%        12.000000            2011-10-20 12:53:00       3.750000
max     80995.000000            2011-12-09 12:50:00    8142.750000
std       180.492832                            NaN      22.241836

          CustomerID
count  392692.000000
mean    15287.843865
min     12346.000000
25%     13955.000000
50%     15150.000000
75%     16791.000000
max     18287.000000
std      1713.539549

--------------------------------

Unique values:
 InvoiceNo      18532
StockCode       3665
Description     3877
Quantity         301
InvoiceDate    17282
UnitPrice        440
CustomerID      4338
Country           37
dtype: int64

--------------------------------

column name    :  Quantity
num_of_zeros   :  0
num_of_negatives:  0
median_value   :  6.0

--------------------------------

column name    :  UnitPrice
num_of_zeros   :  0
num_of_negatives:  0
median_value   :  1.95

--------------------------------

column name    :  CustomerID
num_of_zeros   :  0
num_of_negatives:  0
median_value   :  15150.0

--------------------------------

In [15]:
df['Total'] = df['Quantity'] * df['UnitPrice']

In [16]:
df.to_csv('../data/cleaned_data.csv', index = False) # Save the cleaned DataFrame to a CSV file